<div class="padding">
	<div class="title press-logo">BlogRapat <span></span></div>
	<p class="press-body-1 text-color-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry text of the printing and typesetting industry</p>
	<div class="press-socials display-flex justify-content-center">
		<a href="#" class="link external press-social press-social-fb">
			<i data-feather="facebook"></i>
		</a>
		<a href="#" class="link external press-social press-social-whatsapp">
			<i data-feather="phone"></i>
		</a>
		<a href="#" class="link external press-social press-social-twitter">
			<i data-feather="twitter"></i>
		</a>
	</div>
	<div class="press-footer-nav display-flex justify-content-space-around press-body-1">
		<a href="/page/3" class="text-color-black">Privacy policy</a>
		<a href="/page/134" class="text-color-black">Terms of service</a>
		<a href="/page/130" class="text-color-black">About us</a>
	</div>
</div>