<!-- skeleton Big List Reverse -->
<div class="press-big-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-big-list-content">
        <div>
            ______
        </div>
        <div>
            ______________________ ________
        </div>
        <div>______</div>
    </div>
</div>
<div class="press-big-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-big-list-content">
        <div>
            ______
        </div>
        <div>
            ______________________ ________
        </div>
        <div>______</div>
    </div>
</div>
<div class="press-big-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-big-list-content">
        <div>
            ______
        </div>
        <div>
            ______________________ ________
        </div>
        <div>______</div>
    </div>
</div>
<div class="press-big-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-big-list-content">
        <div>
            ______
        </div>
        <div>
            ______________________ ________
        </div>
        <div>______</div>
    </div>
</div>
<!-- /skeleton -->