<!-- skeleton Big List -->
<div class="press-big-list display-flex skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-big-list-content">
        <div class="press-big-list-category">
            ____________
        </div>
        <div class="press-big-list-title">
            __________ ______ ____________
        </div>
        <div>_______</div>
    </div>
</div>
<div class="press-big-list display-flex skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-big-list-content">
        <div class="press-big-list-category">
            ____________
        </div>
        <div class="press-big-list-title">
            __________ ______ ____________
        </div>
        <div>_______</div>
    </div>
</div>
<div class="press-big-list display-flex skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-big-list-content">
        <div class="press-big-list-category">
            ____________
        </div>
        <div class="press-big-list-title">
            __________ ______ ____________
        </div>
        <div>_______</div>
    </div>
</div>
<div class="press-big-list display-flex skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-big-list-content">
        <div class="press-big-list-category">
            ____________
        </div>
        <div class="press-big-list-title">
            __________ ______ ____________
        </div>
        <div>_______</div>
    </div>
</div>
<!-- /skeleton -->