<!-- skeleton Classic Card Big List Reverse  -->
<div class="press-grid">
    <div>
        <div class="press-classic-card skeleton-text skeleton-effect-pulse">
            <div class="press-classic-card-content-wrapper">
                <div class="press-bg-img">
                </div>
                <div class="display-flex flex-direction-column align-items-flex-start justify-content-space-between press-classic-card-content padding">
                    <div>
                        _________
                    </div>
                    <div class="display-flex">
                        <div class="press-bg-img">
                        </div>
                        <div>
                            <div>_______</div>
                            <div class="press-post-date press-body-1">_________</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="press-classic-card-title">
                __________________ _______ _____________
            </div>
            <div>
                __________________
            </div>
        </div>
    </div>
    <div>
        <div class="press-big-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
            <div class="press-bg-img">
            </div>
            <div class="press-big-list-content">
                <div class="press-big-list-category">
                    ____________
                </div>
                <div class="press-big-list-title">
                    __________ ______ ____________
                </div>
                <div>_______</div>
            </div>
        </div>
        <div class="press-big-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
            <div class="press-bg-img">
            </div>
            <div class="press-big-list-content">
                <div class="press-big-list-category">
                    ____________
                </div>
                <div class="press-big-list-title">
                    __________ ______ ____________
                </div>
                <div>_______</div>
            </div>
        </div>
    </div>
</div>
<!-- /skeleton -->