<!-- skeleton Classic Post  -->
<div class="press-classic-post skeleton-text skeleton-effect-pulse">
    <div class="press-classic-post-content-wrapper">
        <div class="press-bg-img">
        </div>
        <div class="display-flex flex-direction-column align-items-flex-start justify-content-space-between press-classic-post-content padding">
            <div>
                ____________
            </div>
        </div>
    </div>
    <div class="margin-top">___________</div>
    <div class="press-classic-post-title">
        _____________
    </div>
    <div class="press-classic-post-exerpt">
        __________ ________ ____________ ________ ____________________ _________ _________________
    </div>
    <div>______</div>
</div>
<div class="press-classic-post skeleton-text skeleton-effect-pulse">
    <div class="press-classic-post-content-wrapper">
        <div class="press-bg-img">
        </div>
        <div class="display-flex flex-direction-column align-items-flex-start justify-content-space-between press-classic-post-content padding">
            <div>
                ____________
            </div>
        </div>
    </div>
    <div class="margin-top">___________</div>
    <div class="press-classic-post-title">
        _____________
    </div>
    <div class="press-classic-post-exerpt">
        __________ ________ ____________ ________ ____________________ _________ _________________
    </div>
    <div>______</div>
</div>
<div class="press-classic-post skeleton-text skeleton-effect-pulse">
    <div class="press-classic-post-content-wrapper">
        <div class="press-bg-img">
        </div>
        <div class="display-flex flex-direction-column align-items-flex-start justify-content-space-between press-classic-post-content padding">
            <div>
                ____________
            </div>
        </div>
    </div>
    <div class="margin-top">___________</div>
    <div class="press-classic-post-title">
        _____________
    </div>
    <div class="press-classic-post-exerpt">
        __________ ________ ____________ ________ ____________________ _________ _________________
    </div>
    <div>______</div>
</div>
<div class="press-classic-post skeleton-text skeleton-effect-pulse">
    <div class="press-classic-post-content-wrapper">
        <div class="press-bg-img">
        </div>
        <div class="display-flex flex-direction-column align-items-flex-start justify-content-space-between press-classic-post-content padding">
            <div>
                ____________
            </div>
        </div>
    </div>
    <div class="margin-top">___________</div>
    <div class="press-classic-post-title">
        _____________
    </div>
    <div class="press-classic-post-exerpt">
        __________ ________ ____________ ________ ____________________ _________ _________________
    </div>
    <div>______</div>
</div>
<!-- /skeleton -->