<!-- skeleton Modern Card Small List Reverse -->
<div class="press-grid">
    <div>
        <div class="press-modern-card skeleton-text skeleton-effect-pulse">
            <div class="press-bg-img">
            </div>
            <div class="press-modern-card-content display-flex flex-direction-column align-items-flex-start justify-content-flex-end padding">
                <div>
                    ______
                </div>
                <div>
                    _________________
                </div>
                <div>_____</div>
            </div>
        </div>
    </div>
    <div>
        <div class="press-small-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
            <div class="press-bg-img">
            </div>
            <div class="press-small-list-content">
                <div>
                    _____
                </div>
                <div>_________________</div>
            </div>
        </div>
        <div class="press-small-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
            <div class="press-bg-img">
            </div>
            <div class="press-small-list-content">
                <div>
                    _____
                </div>
                <div>_________________</div>
            </div>
        </div>
    </div>
</div>
<!-- /skeleton -->