<!-- skeleton Small List -->
<div class="press-small-list display-flex skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-small-list-content">
        <div class="press-small-list-title press-title-3">
            __________________
        </div>
        <div class="press-post-date">_______</div>
    </div>
</div>
<div class="press-small-list display-flex skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-small-list-content">
        <div class="press-small-list-title press-title-3">
            __________________
        </div>
        <div class="press-post-date">_______</div>
    </div>
</div>
<div class="press-small-list display-flex skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-small-list-content">
        <div class="press-small-list-title press-title-3">
            __________________
        </div>
        <div class="press-post-date">_______</div>
    </div>
</div>
<div class="press-small-list display-flex skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-small-list-content">
        <div class="press-small-list-title press-title-3">
            __________________
        </div>
        <div class="press-post-date">_______</div>
    </div>
</div>
<!-- /skeleton -->