<!-- skeleton Small List Reverse -->
<div class="press-small-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-small-list-content">
        <div class="press-small-list-title">
            _______________ ______________ ___________ __________
        </div>
        <div class="press-post-date">________________ ___</div>
    </div>
</div>
<div class="press-small-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-small-list-content">
        <div class="press-small-list-title">
            _______________ ______________ ___________ __________
        </div>
        <div class="press-post-date">________________ ___</div>
    </div>
</div>
<div class="press-small-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-small-list-content">
        <div class="press-small-list-title">
            _______________ ______________ ___________ __________
        </div>
        <div class="press-post-date">________________ ___</div>
    </div>
</div>
<div class="press-small-list display-flex flex-direction-row-reverse skeleton-text skeleton-effect-pulse">
    <div class="press-bg-img">
    </div>
    <div class="press-small-list-content">
        <div class="press-small-list-title">
            _______________ ______________ ___________ __________
        </div>
        <div class="press-post-date">________________ ___</div>
    </div>
</div>
<!-- /skeleton -->